# Prerequisites
*._lc
*.d
*.ppk
*.log
*.bat

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.ncb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Файлы моделей
*.qch
*.gm
*.dat
*.COL
*.xps
*.an
*.ptc
*.grs

# Текстуры
*.tga
*.tx
*.zap
*.txx
*.dds
# *.png

# Видео
*.mp4
*.wmv

# Звуки/музыка
*.mp3

# Шейдеры
*.sha
*.scc
*.wav
*.ogg

# Архивы
*.7z
*.zip
*.rar
*.lnk

# Папки
*Betta_fix/
*CSP_v2.2.0_fix
*Dev_fix/
*SAVE/
# *RESOURCE/animation/
*RESOURCE/foam/
*RESOURCE/MODELS/
*RESOURCE/Particles/
*RESOURCE/Sea/
*RESOURCE/Sounds/
# *RESOURCE/Textures/
*RESOURCE/VIDEOS/
*RESOURCE_Copy/
*modules/
options
Buccaneer's Reef

.idea
engine.ini.bak
RESOURCE/.DS_Store
RESOURCE/INI/.DS_Store
RESOURCE/INI/aliases1/max.ini
RESOURCE/INI/aliases1/music_alias.ini
RESOURCE/INI/aliases1/russian/Greetings_alias.ini
RESOURCE/INI/aliases1/sound_alias.ini
RESOURCE/INI/interfaces/activemap.ini.bak
RESOURCE/INI/interfaces/interfaces.ini.bak
RESOURCE/INI1/aliases/max.ini
RESOURCE/INI1/aliases/music_alias.ini
RESOURCE/INI1/aliases/russian/Greetings_alias.ini
RESOURCE/INI1/aliases/sound_alias.ini
RESOURCE/INI1/animals.ini
RESOURCE/INI1/camera.ini
RESOURCE/INI1/CSP/max.ini
RESOURCE/INI1/CSP/music_alias.ini
RESOURCE/INI1/CSP/russian/Greetings_alias.ini
RESOURCE/INI1/CSP/sound_alias.ini
RESOURCE/INI1/dialog.ini
RESOURCE/INI1/fonts.ini
RESOURCE/INI1/fonts_rus.ini
RESOURCE/INI1/geo.ini
RESOURCE/INI1/helpchooser.ini
RESOURCE/INI1/interfaces/about.ini
RESOURCE/INI1/interfaces/AcademyLand.ini
RESOURCE/INI1/interfaces/activemap.ini
RESOURCE/INI1/interfaces/Arena.ini
RESOURCE/INI1/interfaces/AttackMessage.ini
RESOURCE/INI1/interfaces/boal_beta.ini
RESOURCE/INI1/interfaces/boal_cards.ini
RESOURCE/INI1/interfaces/boal_dice.ini
RESOURCE/INI1/interfaces/boal_frame.ini
RESOURCE/INI1/interfaces/cannons.ini
RESOURCE/INI1/interfaces/character.ini
RESOURCE/INI1/interfaces/character_all.ini
RESOURCE/INI1/interfaces/Colony.ini
RESOURCE/INI1/interfaces/ColonyBuilding.ini
RESOURCE/INI1/interfaces/ColonyCapture.ini
RESOURCE/INI1/interfaces/ColonyGuardiang.ini
RESOURCE/INI1/interfaces/ColonyInfo.ini
RESOURCE/INI1/interfaces/ColonyLandGuard.ini
RESOURCE/INI1/interfaces/contraband.ini
RESOURCE/INI1/interfaces/craft_all.ini
RESOURCE/INI1/interfaces/CreateCharacter.ini
RESOURCE/INI1/interfaces/CreateNotice.ini
RESOURCE/INI1/interfaces/debuger.ini
RESOURCE/INI1/interfaces/defaultnode.ini
RESOURCE/INI1/interfaces/fortcapture.ini
RESOURCE/INI1/interfaces/game_menu.ini
RESOURCE/INI1/interfaces/game_menu.ini.bak
RESOURCE/INI1/interfaces/GoodsTransfer.ini
RESOURCE/INI1/interfaces/hirecrew.ini
RESOURCE/INI1/interfaces/interfaces.ini
RESOURCE/INI1/interfaces/items.ini
RESOURCE/INI1/interfaces/itemsbox.ini
RESOURCE/INI1/interfaces/itemstrade.ini
RESOURCE/INI1/interfaces/LeaveBattle.ini
RESOURCE/INI1/interfaces/lockpicking.ini
RESOURCE/INI1/interfaces/mainmenu.ini
RESOURCE/INI1/interfaces/map.ini
RESOURCE/INI1/interfaces/MapBest.ini
RESOURCE/INI1/interfaces/mapview.ini
RESOURCE/INI1/interfaces/Mekakhrom.ini
RESOURCE/INI1/interfaces/MessageBox.ini
RESOURCE/INI1/interfaces/Mines.ini
RESOURCE/INI1/interfaces/NationLegend.ini
RESOURCE/INI1/interfaces/NationRelation.ini
RESOURCE/INI1/interfaces/net/Buy.ini
RESOURCE/INI1/interfaces/net/Chat.ini
RESOURCE/INI1/interfaces/net/ChatString.ini
RESOURCE/INI1/interfaces/net/CreateGame.ini
RESOURCE/INI1/interfaces/net/EndGame.ini
RESOURCE/INI1/interfaces/net/FindGame.ini
RESOURCE/INI1/interfaces/net/GameState.ini
RESOURCE/INI1/interfaces/net/NetMenu.ini
RESOURCE/INI1/interfaces/net/PlayerSettings.ini
RESOURCE/INI1/interfaces/net/TopList.ini
RESOURCE/INI1/interfaces/option_screen.ini
RESOURCE/INI1/interfaces/PaperMap.ini
RESOURCE/INI1/interfaces/pictures.ini
RESOURCE/INI1/interfaces/Plantation.ini
RESOURCE/INI1/interfaces/pointsshop.ini
RESOURCE/INI1/interfaces/PsHero.ini
RESOURCE/INI1/interfaces/questbook.ini
RESOURCE/INI1/interfaces/questbook.ini.bak
RESOURCE/INI1/interfaces/questbook_alt.ini
RESOURCE/INI1/interfaces/questbook_alt.ini.bak
RESOURCE/INI1/interfaces/quick_save.ini
RESOURCE/INI1/interfaces/QuicklyTrade.ini
RESOURCE/INI1/interfaces/SailsGerald.ini
RESOURCE/INI1/interfaces/salary.ini
RESOURCE/INI1/interfaces/save_load.ini
RESOURCE/INI1/interfaces/selectCharacter.ini
RESOURCE/INI1/interfaces/ship.ini
RESOURCE/INI1/interfaces/ship.ini.bak
RESOURCE/INI1/interfaces/shipyard.ini
RESOURCE/INI1/interfaces/shipyard.ini.bak
RESOURCE/INI1/interfaces/shipyard1.ini
RESOURCE/INI1/interfaces/shipyard2.ini
RESOURCE/INI1/interfaces/Speak.ini
RESOURCE/INI1/interfaces/storage.ini
RESOURCE/INI1/interfaces/store — копия.ini
RESOURCE/INI1/interfaces/store.ini
RESOURCE/INI1/interfaces/TavernWait.ini
RESOURCE/INI1/interfaces/tradebook.ini
RESOURCE/INI1/interfaces/transfer_main.ini
RESOURCE/INI1/interfaces/transfer_main.ini.bak
RESOURCE/INI1/interfaces/utils/IconsSelector.ini
RESOURCE/INI1/interfaces/utils/MessageBox.ini
RESOURCE/INI1/lights.ini
RESOURCE/INI1/loclighter.ini
RESOURCE/INI1/loclighter_inside.ini
RESOURCE/INI1/loclighter_LSC.ini
RESOURCE/INI1/loclighterJungBr.ini
RESOURCE/INI1/mast.ini
RESOURCE/INI1/particles.ini
RESOURCE/INI1/particles/alcove.ini
RESOURCE/INI1/particles/artifact.ini
RESOURCE/INI1/particles/fort.ini
RESOURCE/INI1/particles/particles.ini
RESOURCE/INI1/particles/ship_fire.ini
RESOURCE/INI1/pscripts/HeadGear.ini
RESOURCE/INI1/rigging.ini
RESOURCE/INI1/shiplights.ini
RESOURCE/INI1/sound_scheme.ini
RESOURCE/INI1/telescope.ini
RESOURCE/INI1/texts/language.ini
RESOURCE/INI1/texts/russian/AbilityDescribe.txt
RESOURCE/INI1/texts/russian/AchievementsDescr.txt
RESOURCE/INI1/texts/russian/activemap_ru.txt
RESOURCE/INI1/texts/russian/BuildingsInformation.txt
RESOURCE/INI1/texts/russian/commands_name.txt
RESOURCE/INI1/texts/russian/common.ini
RESOURCE/INI1/texts/russian/ControlsNames.txt
RESOURCE/INI1/texts/russian/dialogsource.txt
RESOURCE/INI1/texts/russian/globals.txt
RESOURCE/INI1/texts/russian/GoodsDescribe.txt
RESOURCE/INI1/texts/russian/HelpSectionTitles.txt
RESOURCE/INI1/texts/russian/HeroDescribe.txt
RESOURCE/INI1/texts/russian/Hulls.txt
RESOURCE/INI1/texts/russian/interface_strings.txt
RESOURCE/INI1/texts/russian/ItemsDescribe.txt
RESOURCE/INI1/texts/russian/LocLables.txt
RESOURCE/INI1/texts/russian/MapDescribe.txt
RESOURCE/INI1/texts/russian/Mods_On_Off_File.txt
RESOURCE/INI1/texts/russian/PartitionSettings.txt
RESOURCE/INI1/texts/russian/questbook/QuestBook_New.txt
RESOURCE/INI1/texts/russian/questbook/QuestBook_Part1.txt
RESOURCE/INI1/texts/russian/questbook/QuestBook_Part2.txt
RESOURCE/INI1/texts/russian/QuestBookStrings.txt
RESOURCE/INI1/texts/russian/RPGDescribe.txt
RESOURCE/INI1/texts/russian/RumourTexts.txt
RESOURCE/INI1/texts/russian/save_load.txt
RESOURCE/INI1/texts/russian/SeaSection.txt
RESOURCE/INI1/texts/russian/ShipEatGood.txt
RESOURCE/INI1/texts/russian/ShipsDescribe.txt
RESOURCE/INI1/TextureSequence.ini
RESOURCE/INI1/TextureSequence.ini.bak
RESOURCE/shared/battle_interface/log_msg.h
RESOURCE/shared/battle_interface/msg_control.h
RESOURCE/shared/bimanager/messages.h
RESOURCE/shared/events.h
RESOURCE/shared/interface/messages.h
RESOURCE/shared/layers.h
RESOURCE/shared/mast_msg.h
RESOURCE/shared/messages.h
RESOURCE/shared/sail_msg.h
RESOURCE/shared/sea_ai/Script_defines.h
RESOURCE/shared/sea_ai/SeaPeople.h
RESOURCE/shared/sound.h
RESOURCE/techniques/_dev/dxdraw.fx
RESOURCE/techniques/_dev/foam_editor.fx
RESOURCE/techniques/_dev/line.fx
RESOURCE/techniques/_dev/mdebug.fx
RESOURCE/techniques/_dev/sailorpoints_editor.fx
RESOURCE/techniques/_dev/sea.fx
RESOURCE/techniques/_dev/ship.fx
RESOURCE/techniques/_dev/sprite.fx
RESOURCE/techniques/ai/balls.fx
RESOURCE/techniques/ai/crosshair.fx
RESOURCE/techniques/animation.fx
RESOURCE/techniques/blenditem.fx
RESOURCE/techniques/butterfly.fx
RESOURCE/techniques/effects/blade.fx
RESOURCE/techniques/effects/grass.fx
RESOURCE/techniques/effects/maineffects.fx
RESOURCE/techniques/effects/shark.fx
RESOURCE/techniques/effects/tornado.fx
RESOURCE/techniques/geomdistanceblend.fx
RESOURCE/techniques/interfaces/battle_interface.fx
RESOURCE/techniques/interfaces/dialog_background.fx
RESOURCE/techniques/interfaces/game_interface.fx
RESOURCE/techniques/interfaces/interface_backscene.fx
RESOURCE/techniques/interfaces/texture_sequence.fx
RESOURCE/techniques/location/maineffects.fx
RESOURCE/techniques/location/old_ambient.fx
RESOURCE/techniques/new_seafoam.fx
RESOURCE/techniques/particles/particles.fx
RESOURCE/techniques/particles/particles_shaders.h
RESOURCE/techniques/postprocess/postprocess.fx
RESOURCE/techniques/postprocess/postprocess_shader.h
RESOURCE/techniques/randitem.fx
RESOURCE/techniques/shadow/shadow.fx
RESOURCE/techniques/ship/Flag.fx
RESOURCE/techniques/ship/Rope.fx
RESOURCE/techniques/ship/Sail.fx
RESOURCE/techniques/ship/Track.fx
RESOURCE/techniques/ship/Vant.fx
RESOURCE/techniques/sink.fx
RESOURCE/techniques/splash.fx
RESOURCE/techniques/waterring.fx
RESOURCE/techniques/weather/Bump.fx
RESOURCE/techniques/weather/caustic.fx
RESOURCE/techniques/weather/caustic_shaders.h
RESOURCE/techniques/weather/CoastFoam.fx
RESOURCE/techniques/weather/Lightning.fx
RESOURCE/techniques/weather/Planets.fx
RESOURCE/techniques/weather/rain.fx
RESOURCE/techniques/weather/Rainbow.fx
RESOURCE/techniques/weather/sea.fx
RESOURCE/techniques/weather/sea_shaders.h
RESOURCE/techniques/weather/SeaTrash.fx
RESOURCE/techniques/weather/Sky.fx
RESOURCE/techniques/weather/Stars.fx
RESOURCE/techniques/weather/SunFlare.fx
RESOURCE/techniques/weather/SunGlow.fx
RESOURCE/techniques/weather/WaterFlare.fx
RESOURCE/techniques/worldmap/worldmap.fx
RESOURCE/techniques/worldmap/worldmap_shader.h
start.ini
engine.ini
engine.ini
